<div class="main-container">
  <div class="main-container-inner">

    <header  >
      <div class="header-container">
        <ul class="project-list" ng-class= "{'moveup':menuToggle == false, 'movedown':menuToggle == true}" >
        <li  class="project-list-item" ng-repeat="item in ctrl.projects"><span>{{item.name}}</span></li>
        </ul>
        <ul class="nav">
          <a class="nav-item"ui-sref="home"><li class="name">Virginia Griswold</li></a>

          <li ng-click="menuToggle = !menuToggle" class="nav-item dropdown"> projects</li>

          <li class="nav-item">bio</li>

          <li class="nav-item">cv</li>


        </ul>

      </div>
    </header>



    <div id="masondry">

      <div ng-repeat="item in ctrl.projects">


        <a  ui-sref="{{item.name}}"   ng-repeat="img in item.img" href='#'>
          <img class="brick" src="./assets/img/{{img}}" alt="">


        </a>

        <!-- TODO ROUTE Based on NAME -->

      </div>




    </div>
  </div>
