/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);
@import url( 'https://fonts.googleapis.com/css?family=Poiret+One');
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url("../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2") format('woff2'), url("../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff") format('woff'), url("../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf") format('truetype');
}
$pageMaxWidth: 1366px;

h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
li,
ol,
p,
ul {
  margin: 0;
  padding: none;
}

html * {
  box-sizing: border-box;
}
@font-face {
  font-family: 'UFont';
  src: url('./assets/fonts/UFont-Medium.eot');
  src: url('./assets/fonts/UFont-Medium.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/UFont-Medium.woff') format('woff'), url('./assets/fonts/UFont-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  font-family: 'UFont',;
}

[layout=row] {
  flex-direction: row;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: absolute;
  z-index: 15;
  background: white;
  // margin-top: -13rem;
  .header-container {
    // background: red;
    .nav {
      list-style: none;
      display: flex;
      justify-content: space-around;
      // align-items: flex-end;
      font-size: 20px;
      width: 100%;
      text-transform: uppercase;
      padding: 0;
      // height: 8em;
      .name {
        // text-align: right;
      }

      &-item {
        font-size: 2em;
        // background: blue;
        // padding-top: 2em;
        padding-bottom: 0.5em;
        // padding-right: 2em;
        // border: 1px black solid;
        // width: 5em;
        // margin-left: -1em;
        text-align: center;
        width: calc(100%/4);
      }
    }

    .dropdown {
      outline: none;
      // position: relative;
      // display: none;
      &:hover .project-list {
        // display: flex;
      }
    }
  }
}

.movedown {
  margin-top: 0 !important;
  transition: margin-top 1s;
}

.moveup {
  margin-top: -17rem !important;
  transition: margin-top 0.4s;
}

.project-list {
  margin-top: -17rem;
  list-style: none;
  display: flex;
  // flex-direction: column;
  background: white;
  flex-wrap: wrap;
  justify-content: space-between;
  // position: fixed;
  z-index: 4;
  // height: 90vh;
  font-size: 2em;
  padding: 1em;

  &-item {
    // background: white;
    padding: 0.2em 1em 1em;
    text-align: center;
    // height: 100%;
    width: calc(100%/7);
    // border: black solid 1px;
    &:hover {}
  }
}

div#masondry {
  padding-top: 5rem;
  width: 100%;
  margin: auto;
  column-count: 4;
  column-gap: 0;

  a {
    position: relative;
    overflow: hidden;
  }

  .brick {
    // background-color: red;
    display: inline-block;
    margin-top: -.1rem;
    // background: red;
    // padding: 0;
    width: 100%;
  }
}

.project-name {
  margin-bottom: 32px;
  font-size: 7em;
  position: fixed;
  margin-left: 1rem;
}

.project-desc {
  margin-left: 1rem;
  position: fixed;
}

.gallery-container {
  margin-left: 1rem;
  background: transparent;
  // height: 80vh;
  min-height: 40rem;
  // position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-inner {
    display: flex;
    align-items: baseline;

    img {
      height: 100%;
    }
  }
}
/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
